
  @import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Tilt+Prism&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
.container{
  color: black;
   background-image: url(../src/img/juegosdemesa.webp);
 background-size:cover;
}

.imgProd{
  height: 500px;
  width: 100px;
}*/

.itemDetail{
  border: 2px solid blue;
  color: black;
}
.item{
  border: 2px solid blue;
  
}
.itemList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
.mainMenu li{
  list-style-type: none;
  line-height: 5;
  font-size: 30px;
  font-family:'Sedgwick Ave Display', cursive;
  display: inline;
  padding: 10px;
}
nav ul{
  list-style-type: none;
  line-height: 5;
  font-size: 30px;
  font-family:'Sedgwick Ave Display', cursive;
}
header h1{
  text-align: center;
  
  font-family:'Sedgwick Ave Display', cursive;
  font-size: 50px;
}


/*
.cart{
  font-size: 40px;
  text-align: right;
  padding-right: 50px;
  padding-top: 30px;
}*/
.navbar{
  font-family:'Sedgwick Ave Display', cursive;
  font-size: 30px;
}